<div class = "margin-top">
    <div class = container    >
    <div style ="text-align: center">
        <div class="card-deck"> 
         
            <div class="card border-top-0 border-right-0 border-left-0  shadow colorLine"  style="width: 18rem;" > 
              <div class="card-body">
              <h5 class="card-title">Consultar Incidencias </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="readT" class="btn btn-primary">Ir</a>
            </div>
          </div>
          <div class="card border-top-0 border-right-0 border-left-0  shadow colorLine "  style="width: 18rem;">
         
            <div class="card-body">
              <h5 class="card-title ">Registrar Incidencia</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="add" class="btn btn-primary">Ir</a>
            </div>
          </div>
         
          <div class="card border-top-0 border-right-0 border-left-0  shadow colorLine"  style="width: 18rem;">
         
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="stats" class="btn btn-primary">Ir </a>
            </div>
          </div>
     
    </div>
    </div>
  </div > 
</div>


