
<router-outlet></router-outlet>

<div  style = "margin-top:  80px;
            margin-left: 1px;"></div>

<div class =  ml-4>
  <label class="mr-2">Año: </label>
  <select class="form-control" [(ngModel)]="yeara" name="year" class = col-sm-19 (change) = data($event.target.value) >
      <option value="" disabled selected>Seleccione Año</option>
      <option *ngFor="let year of years" value="{{year}}" >{{year}}</option>
  </select>
<div class = "row" >
 
    <div class="chart-wrapper" class = col-md-5  style="border: 1px solid #000000;">
      <div class=" mt-2">
     
    </div>
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>

    <div class="chart-wrapper" class = col-md-5  style="border: 1px solid #000000;">
      <h6 style = "text-align: center;">Incidencias por plataforma</h6>
      
        <canvas baseChart 
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
    </div>


<div class="chart-wrapper" class = col-md-5  style="border: 1px solid #000000;">
  <h6 style = "text-align: center;">Porcentaje de incidencias resueltas por área</h6>
    <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>

<div class="chart-wrapper" class = col-md-5  style="border: 1px solid #000000;">
    <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>

</div>
<div class="chart-wrapper" class = col-md-5  style="border: 1px solid #000000;">
    <canvas baseChart 
    [datasets]="barChartData2"
    [labels]="barChartLabels2"
    [options]="barChartOptions2"
    [plugins]="barChartPlugins2"
    [legend]="barChartLegend2"
    [chartType]="barChartType2"
    >
    
  </canvas>
</div>

</div>


</div>

